<!DOCTYPE html>
<html>
<head>
  <title>Validación de Edad</title>
</head>
<body>
  <h1>Compra de Alcohol</h1>
  <form method="POST" action="/purchase">
    <label for="age">Ingresa tu edad:</label>
    <input type="number" id="age" name="age" required>
    <label for="chk">Se pone muy loco cuando está tomado?:</label>
    <input type="checkbox" id="chk" name="chk" value="true">
    <button type="submit">Comprar</button>
  </form>
</body>
</html>
